@charset "UTF-8";

@font-face {
    font-family: "Android" ;
    src: url('./idroid.otf');
    font-weight: normal;
}

/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android' , sans-serif;
}

* {
    margin: 0px;
    padding: 0px
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    text-align: justify;
}

a.externo::after{
    content: "\AF517"
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    min-height: 150px;
    text-align: center;
    width: 100%;
}

header > h1 {
    font-family: "Bebas Neue";
    font-weight: Bold;
    color: white;
    padding-top: 40px;
    font-size: 3em;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.46);
    margin-bottom: 15px;
}

header > p {
    font-family: var(--fonte-padrao);
    color: rgba(255, 255, 255, 0.87);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.452);
    margin: auto;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.393);
}

nav > a {
    color:var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.4s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor4);
}

main {
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
    width: 700px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.43);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

main h1 {
    color: #063d1e;
    font-size: 1.8em;
    font-family: "Android";
    font-weight: bold;
    background-image: linear-gradient(to right, var(--cor1), transparent);
}

main h2 {
    color: var(--cor4);
    font-family: "Android";
    font-size: 1.3em;
    text-indent: 8px;
    background-image: linear-gradient(to right, var(--cor1), transparent);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.8em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main img {
    width: 100%;
    display: block;
    margin: auto;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img.pequena {
    max-width: 300px;
}

.video {
    background-color: var(--cor5);
    margin: 0px -20p 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

li {
    text-decoration: underline;
}

aside {
    background-color: var(--cor1);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.636);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: "\2714\00A0\00A0";
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--cor5);
    color: white;
    border: 15px;
    text-align: center;
    padding: 10x;
    height: 20px;
    font-size: 0.8em;
}

